@import url("main.css");

/* Estilo do topo do contacto */
section.conteudo-topo-contacto{
    padding: 50px;
    margin: 50px;
}


.conteudo-contacto .flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.conteudo-contacto h1{
    font-size: 3em;
    color: #007d7b;
    font-weight: bold;
}

.conteudo-contacto p{
    max-width: 800px;
    font-size: 1.2em;
}

/* Estilo do formulario e da parte esquerda e direita*/
section .dados-contacto{
    padding: 30px;
    margin: 20px;
    
}

.dados-contacto .flex{
    justify-content: space-between;
}

.parte-esquerda-contacto{
    padding: 50px;
}

.parte-esquerda-contacto .flex{
    flex-direction: column;
    padding-left: 4%;
}

.form-contacto form{
    width: 500px;
}

.form-contacto form h2{
    padding: 20px;
    font-size: 2em;
    color: #007d7b;
}

.form-contacto .btn{
    margin: 30px 0;
    text-align: center;
}

.form-contacto .inputs{
    padding: 20px;

}
.form-contacto .inputs .flex{
    flex-direction: column;
    gap: 20px 0;
}

.inputs label{
    font-size: 1.2em;
    color: #007d7b;
    font-weight: bold;
}

.inputs input, textarea{
    border: 0;
    border-bottom: 2px solid #007d7b;
    width: 100%;
    outline: 0;
    resize: none;
    color: #007d7b;
}

.inputs textarea{
    height: 100px;
}

.img-parte-esquerda img{
    width: 388px;
    height: 490px;
}

.img-parte-direita-contacto img{
    width: 674.5px;
    height: 1199px;
}

/* Estilo das informacoes */
section.informacoes{
    margin: 50px 0;
    padding-top: 50px;
}

.informacoes .flex{
    flex-direction: column;
    gap: 100px;
}

.titulo-informacoes h2{
    text-align: center;
    font-size: 2em;
    color: #007d7b;
}
section.informacoes img{
    width: 629px;
    height: 600px;
}

.conteudo-informacoes .flex{
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo-informacoes .informacoes-direita .flex{
    flex-direction: column;
    gap: 70px 0;
}

.conteudo-informacoes .informacoes-direita h2{
    margin-bottom: 120px;
    font-size: 1.7em;
    color: #007d7b;
}

.informacoes-direita h3{
    color: #007d7b;
    font-size: 1.3em;
}

/* Estilo do mapa */
section.localizacao-contacto-mapa{
    height: 600px;
}

iframe{
    width: 100vw;
    height: 600px;
}

@media screen and (max-width: 900px) {
    /* Estilo do topo do contacto */
    section.conteudo-topo-contacto{
        margin: 50px 0px;
        padding: 0px;
        max-width: 100%;
        min-height: 300px;
    }

    .conteudo-contacto{
        max-width: 500px;
        min-height: 200px;
    }

    .conteudo-contacto .flex{
        gap: 10px 0px;
        max-width: 500px;
        min-height: 200px;
    }

    /* Estilo do formulario e da parte esquerda e direita*/
    section .dados-contacto{
        margin: 20px 0px;
        
    }

    .dados-contacto .flex{
        flex-direction: column-reverse;
    }

    .parte-esquerda-contacto{
        padding: 0;
    }

    .parte-esquerda-contacto .flex{
        padding-left: 0px;
        flex-direction: column;
        gap: 10px 0;
        align-items: center;
    }

    .img-parte-direita-contacto img {
        height: 600px;
        width: 100%;
        overflow: hidden;
    }

    .form-contacto form{
        width: 100%;
    }

    .form-contacto form h2{
        text-align: center;
    }

    /* Estilo das informacoes */
    section.informacoes{
        margin: 50px 0px;
        padding: 50px 0px;
    }

    .informacoes .flex{
        gap: 100px 0px;
    }

    .titulo-informacoes{
        width: 100%;
        text-align: center;
    }

    .titulo-informacoes h2{
        width: 100%;
        font-size: 1.8em;
    }

    .conteudo-informacoes .flex{
        flex-direction: column;
    }

    .conteudo-informacoes .informacoes-direita .flex{
        align-items: center;
        justify-content: center;
        gap: 30px 0px;
    }

    .informacoes-direita h3{
        text-align: center;
    }

    .conteudo-informacoes .informacoes-direita h2{
        margin-bottom: 50px;
    }

    section.informacoes img{
        width: 100%;
        overflow: hidden;
    }

    .form-contacto .inputs{
        padding: 20px 0px;
    }

    /* Estilo do mapa */
    section.localizacao-contacto-mapa{
        margin-bottom: 0px;
    }

    iframe{
        width: 100%;
        overflow: hidden;
        height: 550px;
    }

    
}