@import url('main.css');

.experiencia {
    text-align: center;
    font-size: 1em;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.experiencia div {
    width: 700px;
    height: 400px;
}

.experiencia h1 {
    color: #007d7b;
    font-size: 2.5em;
}

h2{
    color: #007d7b;
    font-size: 2em;
}

.sectionlocal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    gap:40px;
}

.sectionlocal img{
    height: 595px;
    width: 400px;
}

.sectionlocal .txt{
    width: 400px;
    height: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

@media screen and (max-width:900px) {

    .experiencia{
        margin-bottom: 50px;
        width: 100%;
        max-width: 100%;
    }

    .sectionlocal {
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px 0px;
        width: 100%;
        max-width: 100%;
    }

    .sectionlocal:nth-child(3){
        flex-direction: column-reverse;
    }

    .sectionlocal:nth-child(5){
        flex-direction: column-reverse;
    }

    .sectionlocal .txt {
        height: 200px;
        margin-top: 30px;
    }

    .sectionlocal img{
        width: 400px;
    }
}
