
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Cormorant Garamond", serif;
}

@font-face {
  font-family: 'vendya'; /* Podes usar qualquer nome aqui */
  src: url('../fonts/vendya.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* classes gerais */

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffffb5;
    overflow-x: hidden;
}

h1{
    color: #007d7b;
    font-family: 'vendya';
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

::-webkit-scrollbar{
    background-color: #807F7D;
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #007d7b;
   
}

a{
    text-decoration: none;
    color: #007d7b;
    font-size: 1.5em;
}

.btn button{
    border: 2px solid #007d7b;
    width: 173px;
    height: 173px;
    border-radius: 86.5px;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}

.btn button:hover{
    background-color: #007d7b;
}

.btn button:hover a{
    color: white;
    
}

/* header */
header{
    width: 100%;
    background-color: rgb(226, 224, 224);
    height: 50px;
}

header .flex{
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

header .img-logo{
    display: flex;
    align-items: center;
    position: relative;
}


header .img-logo img{
    height: 110px;
    width: 120px;
}

header .img-logo p{
    display: inline-block;
    position: absolute;
    left: 55px;
    font-size: 2em;
    color: #007d7b;
    font-weight: bolder;
    top: 3px;
}

header .img-logo p span{
    display: block;
    color: #807F7D;
    font-size: .5em;
    text-align: left;
    font-weight: bold;
}



header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding-inline: 40px;
    transition: .2s;
}

header nav ul li a{
    color: #007d7b;
    font-weight: bold;
    font-size: 1.2em;
}

header nav ul li a:hover{
    transform: scale(1.2);
    display: inline-block;
}

/* Estilo do menu mobile */
.menu-mobile{
    background-color: rgb(226, 224, 224);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.btn-abrir-menu i{
    color: #007d7b;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.676);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}

.menu-mobile nav ul{
    text-align: right;
    display: flex;
    flex-direction: column;
}

.menu-mobile .btn-fechar i{
    color: #007d7b;
    font-size: 30px;
    cursor: pointer;
}

.btn-fechar{
    padding: 20px 5%;
}

.menu-mobile nav ul li a{
    color: #007d7b;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li:hover{
    background-color: #007d7b;
}

.menu-mobile nav ul li:hover a{
    color: #fff;
}

/* menu-mobile */
.btn-abrir-menu i{
    display: none;
}

.btn-abrir-menu{
    display: none;
}
/* estilo do conteudo-topo */

section.conteudo-topo {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.conteudo-topo .overlay {
    position: absolute; /* NOVO: cobre tudo */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; /* Garante que fique sobre o vídeo */
}

.conteudo-topo .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2; /* Conteúdo acima da overlay */
}


 
.conteudo-topo .txt-topo h1{
    font-family:"Cormorant Garamond", serif;
    font-size: 5em;
    font-weight: 500;
    text-align: center;
    z-index: 999;
    color: #fff;
}
 
.conteudo-topo .txt-topo h1 span{
    font-family:"Cormorant Garamond", serif;
    font-weight: 500;
    display: block;
}

 
.conteudo-topo .btn {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 400px;
    transition: .5s;
}

.conteudo-topo .btn a {
    color: white;
    transition: .5s;
}

.conteudo-topo .btn span{
    font-size: 2.4em;
    text-align: center;
}

.conteudo-topo .btn:hover a{
    color: black;
}

.conteudo-topo .btn:hover{
    background-color: white;
}

/* Estilo do hero */

section.hero{
    margin: 20px 0;
    padding: 20px 0;
    transition: .5s;
}

.hero .flex{
    justify-content: center;
    gap: 30px;
}

.hero  .hero-esquerda{
    max-width: 492px;
}

.hero  .hero-esquerda .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 4%;
}

.hero .hero-esquerda .txt-esquerda{
    margin-top: 20%;
   padding: 50px;
   margin-bottom: 3%;
}

.hero .hero-esquerda .txt-esquerda h1{
    font-size: 2.7rem;
    padding: 20px;
    text-align: center;
}

.hero .hero-esquerda .txt-esquerda p{
    font-size: 1.2em;
    text-align: center;
}

.hero .hero-esquerda .btn button{
    margin: 50px 0;
    position: absolute;
    top: -25%;
    left: 33%;
}
   

.hero .hero-esquerda .btn a {
    text-align: center;
    text-decoration: none;
}

.hero .img-esquerda{
    position: relative;
}

.hero .img-esquerda img{
    height: 386px;
    width: 492px;
    margin-top: 50px;
}

.hero .hero-direita{
    padding-top: 23px;
}

.hero .img-direita img{
    height: 898px;
    
}

/* Estilo bem-estar */

section.bem-estar{
    margin: 0;
    padding: 0px 4%;
}

section.bem-estar .flex{
    justify-content: space-evenly;
    align-items: flex-start;
}

.bem-estar .txt-bem-estar{
    text-align: right;
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
}

.bem-estar .txt-bem-estar h2{
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    color: #007d7b;
    margin-left: 28px;
}

.bem-estar .txt-bem-estar p{
    text-align: center;
    font-size: 1.2em;
    margin-left: 15px;
}

.bem-estar-conteudo .bem-estar-img{
    display: flex;
    gap: 30px;
}

.bem-estar-conteudo .bem-estar-img img{
    width: 300px;
    height: 500px;
}

/* Estilo de Serenita */
section.serenita-casa{
    margin: 50px 0;
    padding-top: 50px;
}

.serenita-casa .Serenita-esquerda .flex{
    padding-inline: 0;
    flex-direction: column;
    gap: 50px;
}

.serenita-casa .Serenita-esquerda .txt-Serenita-esquerda{
    padding: 50px;
}

.serenita-casa .Serenita-esquerda .txt-Serenita-esquerda h1{
    font-size: 2.7rem;
    padding: 20px;
    text-align: center;
}

.serenita-casa .Serenita-esquerda .txt-Serenita-esquerda h1 span{
    display: block;
}

.serenita-casa .Serenita-esquerda .txt-Serenita-esquerda p{
    font-size: 1.2em;
    text-align: center;
}

.serenita-casa .Serenita-esquerda .btn{
    margin-inline: auto;
}

.serenita-casa .Serenita-esquerda .img-serenita-esquerda img{
    width: 500px;
    height: 500px;
}


.serenita-casa .serenita-direita .img-serenita-direita img{
    width: 700px;
    height: 800px;
}

/* Estilo Horarios */
section.horarios{
    margin-top: 120px;
    padding-top: 50px;
}

.horarios .flex{
    justify-content: flex-end;
}

.horarios .container-horarios{
    width: 1214px;
    height: 600px;
    background-image: url("../img/G35A9335.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
}

.container-horarios .flex{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}


.horarios .titulo{
    align-self: flex-start;
    padding: 0 10%;
    margin-bottom: 50px;
}

.horarios .container-horarios .tabela{
    align-self: flex-start;
    padding: 0 10%;
}

.horarios .titulo h1{
    font-size: 5em;
    font-weight: bold;
}

.horarios .container-horarios .tabela .flex{
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.horarios .container-horarios .titulo h1{
    color: #007d7b;
}

.horarios .container-horarios .tabela h2{
    color: #007d7b;
    font-size: 2em;
}

.horarios .container-horarios .tabela p{
    color: black;
    padding: 20px;
    font-weight: bolder;
    font-size: 2em;
}

/* Estilo de localizacao */
section.localizacao{
    margin-top: 120px;
    padding-top: 50px;
}

.localizacao .container-localizacao h1{
    font-size: 2.7rem;
}

.localizacao .container-localizacao p{
    font-size: 1.3em;
}

.localizacao .container-localizacao h1,p{
    text-align: center;
    padding: 20px;
}

.container-localizacao .flex{
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
}

.localizacao .container-localizacao img{
    width: 400px;
    height: 500px;
}

/* Estilo de footer */
footer.rodape{
    margin-top: 10%;
    background-color: rgb(226, 224, 224);
    color: #007d7b;
}

.rodape .containerfooter{
    max-width: 1280px;
    padding-top: 50px;
}

.rodape .flex{
justify-content: center;
}

.rodape .logo-rodape{
    margin: 0px 50px;
    padding-bottom: 50px;
}

.rodape .logo-rodape a{
    color: #007d7b;
}

.rodape .logo-rodape h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.rodape .logo-rodape h2 span{
    display: block;
    font-size: .5em;
    color: #807F7D;
}

.rodape .logo-rodape img{
    width: 100px;
    height: 100px;
}


.rodape .links-rodape .grid{
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px 20px;
}

.rodape .links-rodape h2{
    font-size: 1.5em;
}

.rodape .links-rodape ul{
    list-style-type: none;
    padding-top: 50px;
}

.rodape .links-rodape ul li{
    padding-bottom: 15px;
}

.rodape .links-rodape ul li a{
    color: #007d7b;
    font-size: 1.2em;
    transition: .2s;
}

.rodape .links-rodape ul li a:hover{
    opacity: 0.5;
}

.link-3 .lista-rodape i{
   padding-right: 10px;
   font-size: 20px;
}

.rodape p{
    margin-top: 50px;
    padding: 30px;
    font-size: 1.2em;
}

@media screen and (max-width: 900px) {

    body{
        overflow-x: hidden;
    }

    /* Estilo do navbar */
    header nav ul li a:hover{
        transform: scale(1);
    }

    /* menu-mobile */
    .btn-abrir-menu i{
        display: block;
    }

    .btn-abrir-menu{
        display: block;
    }

    /* Cabecalho */
    .menu-desktop{
     display: none;
    }

    /* Estilo do conteudo topo */
    section.conteudo-topo{
        width: 100vw;
        background-attachment: local;
    }

    .conteudo-topo .txt-topo h1{
        font-size: 4em;
    }

    .conteudo-topo .overlay{
        background-color: transparent;
    }


    /* Estilo do hero */
    .hero .flex{
        flex-direction: column-reverse;
        gap: 0px;
        align-items: center;

    }


    .hero .hero-esquerda .btn button{
        left: 20%;
        top: 75%;
    }
    
    .hero .img-direita img{
        width: 320px;
        height: 400px;
    }

    .hero .img-esquerda img{
        width: 300px;
        height: 283px;
    }

    .hero .hero-esquerda .txt-esquerda{
        margin-top: 0px;
        padding: 0px;
    }

    .hero .hero-esquerda .txt-esquerda h1{
        color: #007d7b;
    }

    /* Estilo bem-estar */

    section.bem-estar{
        margin-top: 100px;
        padding-top: 50px;
    }

    section.bem-estar .flex{
        align-items: center;
        flex-direction: column;
        gap: 50px 0;
    }

    .bem-estar .txt-bem-estar{
        text-align: center;
    }

    .bem-estar .txt-bem-estar h2{
        color: #007d7b;
        text-align: center;
    }

    .bem-estar-conteudo .bem-estar-img{
        display: flex;
        flex-direction: column;
        
    }

    .bem-estar-conteudo .bem-estar-img  img{
        width: 100%;
    }

    /* Estilo de Serenita */
    section.serenita-casa{
        margin-top: 15px;
        padding-top: 15px;
    }

    .serenita-casa .flex{
        gap: 20px 0;
    }

    .serenita-casa .Serenita-esquerda .img-serenita-esquerda img, .serenita-casa .serenita-direita .img-serenita-direita img{
        width: 100%;
        height: 400px;
    }

    .serenita-casa .Serenita-esquerda .txt-Serenita-esquerda{
        padding: 0px;
        margin: 0px;
    }

    .serenita-casa .flex{
        flex-direction: column;
    }

    .serenita-casa .Serenita-esquerda .txt-Serenita-esquerda h1{
        color: #007d7b;
    }

    /* Estilo Horarios */
    section.horarios{
        margin-top: 20px;
        padding-top: 20px;
    }

    .container-horarios .flex{
        gap: 0px;
    }

    .horarios .container-horarios{
        width: 100%;
        height: 450px;
        overflow:hidden;
    }


    .horarios .container-horarios .tabela .flex{
        align-items: center;
        justify-content: center;
        gap: 5px 0px;
        width: 350px;
        flex-direction: column;
        text-align: center;
    }

    .horarios .titulo{
        margin-bottom: 0px;
        padding: 20px;
        align-self: flex-start;
        
    }

    .horarios .container-horarios .tabela{
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .horarios .container-horarios .titulo h1{
        color: #007d7b;
    }

    .horarios .container-horarios .tabela h2{
        color: #007d7b;
    }

    .horarios .container-horarios .tabela p{
        color: black;
        text-align: center;
    }

    

    /* Estilo de localizacao */
    section.localizacao{
        margin-top: 20px;
        padding-top: 50px;
    }

    .localizacao .container-localizacao h1{
        color: #007d7b;
    }

    .container-localizacao .flex{
        flex-direction: column;
        gap: 20px;
    }

    .localizacao .container-localizacao img{
        width: 100%;
    }
    
    /* Estilo de footer */
    footer.rodape{
        margin-top: 0%;
    }

    .rodape .flex{
        flex-direction: column;
    }

    .rodape .logo-rodape{
        justify-content: center;
    }

    .rodape .links-rodape .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        padding: 0 5px;
    }

    .rodape p{
        padding: 5px 0px;
    }

    .rodape .links-rodape ul{
        padding: 0px;
    }
    
}

