@import url("main.css");
section.conteiner1{
    display: flex;
    flex-flow: column nowrap;
}

div.item{
    flex-shrink: 0;
    flex-grow: 0;
    width: 490px;
}

div#spa1{
    padding-left: 150px;
    font-size: 2em;
}

.spa2{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
}

div#txt{
    justify-content: center;
    padding: 0px 0px 0px 10px;
}

div.btn{
    padding: 30px 0px 0px 20px;
}

#imgspa{
    height:585px;
    width: 490px; 
}

h1{
    margin: 50px;
    color: #007d7b;
}

.container2{
    margin-top: 150px;
    background-image: url('../img/space-foto5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

@media screen and (max-width: 900px) {

    body{
        overflow-x: hidden;
    }

    ::-webkit-scrollbar{
        width: 0px;
    }

    div#spa1{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    div#txt{
        padding: 0;
        text-align: center;
        align-items: center;
        overflow-x: hidden;
    }

    div.btn{
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .spa2{
        flex-direction: column ;
        width: 100%;
        max-width: 100%;
        align-items: center;
        overflow-x: hidden;
    }

    .container1{
        width: 100%;
        max-width: 100%;
        align-items: center;
        overflow-x: hidden;
    }


    div.item{
        text-align: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    img {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .container2 {
        background-attachment: local;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
}