@import url('main.css');

/* Estilo do topo do tratamento */
section.conteudo-topo-tratamento{
    padding: 0;
    margin: 50px;
}


.conteudo-tratamento .flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.conteudo-tratamento h1{
    font-size: 3em;
    color: #007d7b;
    font-weight: normal;
}

.conteudo-tratamento p{
    max-width: 800px;
    font-size: 1.2em;
}

/* Estilo dos botoes */
section.servicos{
    margin-top: 50px;
}

.servicos .tipo-servico .flex{
    align-items: center;
    justify-content: center;
    gap: 0 30px;
}

button{
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #2D5661;
    background-color: white;
    color: #2D5661;
    font-size: 1em;
    cursor: pointer;
    transition: .5s;
}

button.ativo{
    background-color: #2D5661;
    color: #fff;
}

button:hover{
    background-color: #2D5661;
    color: #fff;
}


/* Estilo dos Servicos */
.container-tratamento{
    margin-top: 50px;
}

.container-tratamento .flex{
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
}

.container-tratamento img{
    width: 800px;
    height: 1000px;
}

.item-menu {
    display: inline-block;
}

#menu-select {
    display: none;
}

@media screen and (max-width: 900px) {

    body{
        overflow-x: hidden;
    }

    ::-webkit-scrollbar{
        width: 0px;
    }

    .item-menu {
        display: none;
    }

    #menu-select {
        display: block !important;
        width: 85%;
        padding: 10px;
        color: #fff;
        background-color: #007d7b;
    }

    section.conteudo-topo-tratamento{
        padding: 0;
        margin: 20px 0px;
        max-width: 100%;
        min-height: 300px;
    }
    
    .conteudo-tratamento .flex{
        max-width: 500px;
        min-height: 200px;
        text-align: center;
        gap: 30px 0px;
    }


    .servicos .tipo-servico .flex{
        gap: 0;
    }

    .conteudo-tratamento{
        min-height: 500px;
        max-width: 500px;
    }
    

    .container-tratamento img{
        width: 90%;
        margin-inline: 20px;
        height: 800px;
    }

    .agendar{
        margin-bottom: 20px;
    }
    
}


