::-webkit-scrollbar{
    background-color: #807F7D;
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #007d7b;
   
}


nav.navbar{
    background-color: rgb(226, 224, 224);
}

div.container-fluid a,li a{
    color: #007d7b;
}

.navbar-brand:hover{
color: #007d7b;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    color: #007d7b;
}

h1{
    color: #007d7b; 
}

.form-check-input{
    border-color: #007d7b;
}

.form-check-input:checked{
    background-color: #007d7b;
}

.btn-primary{
    background-color: #007d7b;
    border-color: #007d7b;
}

.btn-primary:hover{
    background-color: #007d7b;
    border-color: #007d7b;
}