<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <% if (typeof user !== 'undefined' && user && user.role !== 'usuario' && user.role !== 'desk') { %>

      <a class="navbar-brand" href="/admindashboard">Procedimentos</a>

      <% }else if(typeof user !== 'undefined' && user && user.role !== 'usuario' && user.role !== 'admin') { %>

      <a class="navbar-brand" href="/deskdashboard">Procedimentos</a>

      <% }else if(typeof user !== 'undefined' && user && user.role !== 'desk' && user.role !== 'admin'){ %>

        <a class="navbar-brand" href="/dashboard">Consultas</a>

      <% } %>  

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        

        <% if (typeof user !== 'undefined' && user && user.role !== 'admin' && user.role !== 'desk' ) { %> 
          <li class="nav-item">
            <a class="nav-link" href="/agendar">Agendar Consulta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/perfil">Perfil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/consultaemcasa">Consulta em casa</a>
          </li>
        <% } %>


        <li class="nav-item">
          <a class="nav-link" href="/login/logout">Sair</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
