<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<title>Procedimentos</title>

<body>
    <%- include('includes/navbar') %>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">Procedimentos</h1>
                <p class="text-center lead">Seus procedimentos estão abaixo</p>

                <%- include('includes/messeges') %>

                <!-- Botões alinhados verticalmente -->
                <div class="d-grid gap-3 mt-4 btn-lg py-3 ">
                    <a href="/clientes" class="btn btn-primary">Listar clientes</a>
                    <a href="/procedimentos" class="btn btn-primary">Procedimentos</a>
                    <a href="/pagina3" class="btn btn-primary">Requesicoes de Consulta em Casa</a>
                    <a href="/admincadastro/create/verificador" class="btn btn-primary">Cadastrar usuario</a>
                    <a href="/pagina5" class="btn btn-primary">Página 5</a>
                </div>

            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>

    <%- include('includes/script') %>
</body>
</html>
